<section class="relative bg pt-8">
    <div
        class="flex md:flex-row flex-col w-full justify-center items-center he gap-8 md:gap-10 overflow-hidden"
    >
        <div class="flex flex-col gap-4 md:max-w-3/5 text-white p-4 ">
            <h1 class="md:text-5xl text-4xl font-bold ">Dark souls goal´s checker</h1>
            <h2 class="lg:text-lg max-w-96 font-normal">
                Keep track of your progress in the first <span>Dark souls</span> game. Get
                all trophies checking when you obtein miracles, weapons, and when you clear <span>boss
                fights
</span>            </h2>
        </div>
        <img src="/bonfire.webp" alt="bonfire" class="max-h-60 p-8 md:shadow-red-950 md:shadow-2xl rounded-full" />
    </div>

    <div class="custom-shape-divider-bottom-1708983407">
        <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z"
                class="shape-fill"></path>
        </svg>
    </div>
</section>

<style>
    .he {
        height: 80vh;
    }

    .erase {
        background-color: white;
    }
    .bg {
        background-image: linear-gradient(
            to right top,
            #450606,
            #5a0b11,
            #701119,
            #871720,
            #9f1d28
        );
    }

    h2 span{
        font-weight: bolder;
    }

    .custom-shape-divider-bottom-1708983407 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1708983407 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1708983407 .shape-fill {
    fill: #0c0708;
}
</style>
